<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Simple votings</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav mr-auto">
                {% block menu %}

                    {% if request.user.is_authenticated %}
                        {% for item in menu.auth.menu %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url item.url_name %}">{{ item.name|safe }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for item in menu.unauth.menu %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url item.url_name %}">{{ item.name|safe }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}

                {% endblock %}
            </ul>


            <ul class="navbar-nav mr-1">
                {% block usermenu %}
                    {% if request.user.is_authenticated %}
                        {% for item in menu.auth.user_menu %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url item.url_name %}">{{ item.name|safe }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for item in menu.unauth.user_menu %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url item.url_name %}">{{ item.name|safe }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}

                {% endblock %}
            </ul>

    </div>
</nav>
