<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2><a href="{{ voting.get_url }}" class="text-dark">{{ voting.title }}</a></h2>
            </div>
            <div class="col-sm-auto">
                <strong>Автор: </strong> <a class="text-secondary" href="{{ user.get_url }}">{{ voting.author }}</a><br>
                <strong>Дата: </strong> {{ voting.date }}
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="mb-0">{{ voting.text|truncatechars:175 }}</p>
    </div>
    {% if voting.maximum_votes %}
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-sm-auto">
                {{ voting.current_votes }} / {{ voting.maximum_votes }}
            </div>
            <div class="col">
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="{{ voting.current_votes }}" aria-valuemin="0"
                         aria-valuemax="{{ voting.maximum_votes }}"
                         style="width: {{ voting.current_votes_percent }}%">{{ voting.current_votes_percent }}%</div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
