{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Главная</h1>
            <hr>
            <i class="glyphicon glyphicon-ok"></i>
            <div class="jumbotron">
                <h1 class="display-4">Приветствуем!</h1>
                <p class="lead">Это простой сайт для простых голосований, созданный по заказу
                    <em>одного человека</em> в учебных целях.</p>
                <hr class="my-4">
                <p>Вы можете посмотреть активные в данный момент голосования.</p>
                {% if not user.is_authenticated %}
                    <p>Если Вы <a href="{% url 'user.registration' %}">зарегиструйтесь</a> или
                        <a href="{% url 'user.login' %}">войдёте</a>, то можете создавать голосования
                        и голосовать в уже существующих</p>
                {% else %}
                    <p>Вы также можете создать своё голосование или проголосовать в уже существующем.</p>
                {% endif %}
                <div class="form-inline mt-4">
                    <a class="btn btn-primary btn-lg mr-3" href="{% url 'voting.list' %}" role="button">Активные голосования</a>
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'voting.new' %}" role="button">Создать своё голосование</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
