{% extends 'base/base.html' %}

{% load bootstrap4 %}
{% load static %}


{% block extra_js %}
<script type='text/javascript' src="{% static 'scripts/formset.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Редактирование голосования</h1>
<hr>
{% if not found %}
    <h3 class="text-muted text-center">
        <em>Голосование не найдёно.<br>
            <a href="{% url 'index' %}">На главную</a>
        </em>
    </h3>
{% elif not can_be_edited%}
    <h3 class="text-muted text-center">
        <em>Голосование уже нельзя редактировать.<br>
            <a href="{% url 'index' %}">На главную</a>
        </em>
    </h3>
{% else %}
    <div class="row">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form voting_form %}

                <h2 class="mt-4">Варианты ответов голосования</h2>
                <hr>
                {% bootstrap_formset_errors formset %}
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="row form-row spacer mb-2">
                        <div class="col-2">
                            <label>{% bootstrap_label form.text.label %}</label>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                {% bootstrap_field form.text show_label=False form_group_class='' %}
                                <div class="input-group-append">
                                    <a class="btn btn-success add-form-row text-white">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <input type="hidden" name="type" value="{{ voting_type }}">
                <input type="submit" class="btn btn-primary float-right btn-block mt-4" value="Изменить!">
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
