{% extends 'base/base.html' %}

{% load bootstrap4 %}
{% load static %}
{% load icon_tag %}


{% block extra_js %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type='text/javascript' src="{% static 'scripts/voting_chart.js' %}"></script>
<script type="text/javascript">$(document).ready(function() {gen_voting_chart({{ chart_labels|safe }}, {{ chart_values|safe }});});</script>
{% endblock %}


{% block content %}
    {% if found %}
        <div class="row">
            <div class="col">
                <a class="h1">Голосование</a>
            </div>
            <div class="col">
                {% if voting.author == request.user %}
                    <form class="form-inline" method="POST" action="">
                        {% csrf_token %}
                        <a href="#" class="badge btn btn-outline-danger ml-auto font-weight-normal mt-3" data-toggle="modal" data-target="#remove_modal">{% icon "trash" 24 %}<c class="mr-1">Удалить</c></a>
                        <div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-labelledby="remove_modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                          <h5 class="modal-title" id="remove_modalLabel">Подтвердите удаление</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body text-center">
                                          Вы уверены, что хотите удалить своё голосование?<br> Это действие невозможно будет отменить!
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                          <input type="submit" class="btn btn-danger" name="remove_submit" value="Удалить!">
                                      </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="card h-100">
                    <div class="card-header">
                        <a class="text-secondary font-italic">{% icon 'info' 24 %} Информация</a><a class="badge btn btn-outline-danger float-right font-weight-normal p-0" href="{% url 'report.new' %}?voting_id={{ voting.id }}">{% icon "alert-triangle" 24 %} <c class="mr-1">Пожаловаться</c></a>

                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-6">Автор:</dt>
                            <dd class="col-sm-6">
                                <a href="{{ voting.author.get_url }}">{{ voting.author }}</a>
                                <!--{% if can_see_author %}-->
                                <!--{% else %}-->
                                <!--<em>???</em>-->
                                <!--{% endif %}-->
                            </dd>

                            <dt class="col-sm-6">Дата создания:</dt>
                            <dd class="col-sm-6">{{ voting.date }}</dd>

                            <dt class="col-sm-6">Статус:</dt>
                            <dd class="col-sm-6"><em>{{ voting.get_status_display }}</em></dd>

                            <!--<dt class="col-sm-6">Видимость автора:</dt>-->
                            <!--<dd class="col-sm-6">{{ voting.get_author_visible_display }}</dd>-->

                            <!--<dt class="col-sm-6">Видимость голосущих:</dt>-->
                            <!--<dd class="col-sm-6">{{ voting.get_voting_users_visible_display }}</dd>-->

                            <!--<dt class="col-sm-6">Видимость результатов:</dt>-->
                            <!--<dd class="col-sm-6">{{ voting.get_result_visible_display }}</dd>-->

                            <dt class="col-sm-6">Голоса:</dt>
                            <dd class="col-sm-6">
                                {{ voting.current_votes }}
                                {% if voting.maximum_votes %}
                                / {{ voting.maximum_votes }}
                                {% endif %}
                            </dd>
                        </dl>
                        {% if voting.maximum_votes %}
                        <div class="progress mb-3">
                            <div class="progress-bar progress-bar-striped" role="progressbar"
                                 aria-valuenow="{{ voting.current_votes }}" aria-valuemin="0"
                                 aria-valuemax="{{ voting.maximum_votes }}"
                                 style="width: {{ voting.current_votes_percent }}%">{{ voting.current_votes_percent }}%</div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card box-shadow h-100">
                    <div class="card-header">
                        <div class="text-secondary font-italic">{% if vote.type == 1 %}{% icon "check-box" 24 %}{% else %}{% icon "check-circle" 24 %}{% endif %} Голосовать</div>
                    </div>
                    <div class="card-body d-flex flex-column">
                        {% if not user.is_authenticated %}
                            {% include 'pages/voting-current-form-disabled.html' %}
                            <input type="submit" class="align-self-end btn btn-outline-primary btn-block mt-auto" value="Войдите, чтобы голосовать" disabled>
                        {% elif voting.status != 1 %}
                            {% include 'pages/voting-current-form-disabled.html' %}
                            <input type="submit" class="align-self-end btn btn-outline-dark btn-block mt-auto" value="Голосование недоступно" disabled>
                        {% elif user in voting.get_voted_users %}
                            {% include 'pages/voting-current-form-disabled.html' %}
                            <input type="submit" class="align-self-end btn btn-outline-success btn-block mt-auto" value="Вы уже проголосовали" disabled>
                        {% else %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group" >
                                {% for f in form.vote %}
                                    <div class="custom-control custom-{{ form_type_text }}">
                                        <input type="{{ form_type_text }}" id="option{{forloop.counter}}" name="vote" value="option{{forloop.counter0}}" class="custom-control-input">
                                        <label class="custom-control-label" for="option{{forloop.counter}}">{{ f.choice_label }}</label>
                                    </div>
                                {% endfor %}
                                </div>
                                <input type="submit" class="align-self-end btn btn-primary btn-block mt-auto" name="vote_submit" value="Голосовать!">
                            </form>
                        {% endif %}
                        <!--{% if "option1" == form.vote.initial %}-->
                            <!--<p>asd{{ form.vote.initial }}</p>-->
                        <!--{% endif %}-->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="text-secondary font-italic">{% icon 'pie-chart' 24 %} Диаграмма</div>
                    </div>
                    <div class="card-body chart-container">
                        <canvas id="voting_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a class="text-secondary font-italic">{% icon 'document-text' 24 %} Содержание голосования</a>
                        {% if voting.author == request.user %}
                            {% if can_be_edited %}
                                <a href="{% url 'voting.edit' id=voting.id %}" class="badge btn btn-outline-info float-right font-weight-normal p-0">{% icon "pencil" 24 %} Изменить</a>
                            {% else %}
                                <span class="d-inline-block float-right" tabindex="0" data-toggle="tooltip" title="Редактировать можно до первого голоса">
                                    <button class="badge btn btn-outline-info p-0" style="pointer-events: none;" type="button" disabled><del class="mr-1">{% icon "pencil" 24 %} Изменить</del></button>
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ voting.title }}</h5>
                        <p class="card-text">{{ voting.text|linebreaks }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Голосование</h1>
        <hr>
        <h3 class="text-muted text-center">
            <em>Голосование не найдёно.<br>
                <a href="{% url 'index' %}">На главную</a>
            </em>
        </h3>
    {% endif %}
{% endblock %}