{% load bootstrap4 %}
{% load icon_tag %}


<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="profile-info">
        {% if password_form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ошибка!</strong><br>
                {{ password_form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if name_form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ошибка!</strong><br>
                {{ name_form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if avatar_form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ошибка!</strong><br>
                {{ avatar_form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if biography_form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ошибка!</strong><br>
                {{ biography_form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="media">
            <div class="media-body">
                <dl class="row">
                    <dt class="col-sm-5">Дата регистрации:</dt>
                    <dd class="col-sm-7">{{ user.date_joined }}</dd>
                    <dt class="col-sm-5">Последний вход:</dt>
                    <dd class="col-sm-7">{{ user.last_login }}</dd>
                    <dt class="col-sm-5 mt-2">Имя:</dt>
                    <dd class="col-sm-7 mt-2"><a href="#" class="text-secondary" data-toggle="modal" data-target="#change_name_modal">{{ user.get_full_name|default:"<em class='text-muted'>пусто</em>" }}</a></dd>

                    <div class="modal fade" id="change_name_modal" tabindex="-1" role="dialog" aria-labelledby="change_name_modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="change_name_modalLabel">Изменение имени</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        {% bootstrap_form name_form %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                        <input type="submit" class="btn btn-primary" name="name_submit" value="Изменить имя">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <dt class="col-sm-5">Количество голосов:</dt>
                    <dd class="col-sm-7">{{ vote_count }}</dd>
                    <dt class="col-sm-5">Количество созданных голосований:</dt>
                    <dd class="col-sm-7">{{ voting_count }}</dd>
                </dl>
                <button type="button" class="btn btn-outline-info mr-2" data-toggle="modal" data-target="#change_password_modal">
                    {% icon 'pencil' size=24 %} Изменить пароль
                </button>
                <div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="change_password_modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="change_password_modalLabel">Изменение пароля</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {% bootstrap_form password_form %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    <input type="submit" class="btn btn-primary" name="password_submit" value="Изменить пароль">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--<h5 class="mt-0"><a href="{% url 'password_change' %}">Изменить пароль</a></h5>-->
                <!--<h5 class="mt-0"><a href="https://bootstrap-4.ru/docs/4.4/getting-started/introduction/"-->
                                    <!--class="badge badge-info">Документация по Bootstrap 4</a></h5>-->
            </div>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#change_avatar_modal">
                <img src="{{ user.profile.avatar.url }}" width="300" alt="Аватар">
            </button>
            <div class="modal fade" id="change_avatar_modal" tabindex="-1" role="dialog" aria-labelledby="change_avatar_modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="change_avatar_modalLabel">Изменение аватара</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                {% bootstrap_form avatar_form %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <input type="submit" class="btn btn-primary" name="avatar_submit" value="Изменить аватар">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">О себе:</dt>
            <dd class="col-sm-9"><a href="#" class="text-secondary" data-toggle="modal" data-target="#change_biography_modal">{{ user.profile.biography|default:"<em class='text-muted'>пусто</em>" }}</a></dd>
            <div class="modal fade" id="change_biography_modal" tabindex="-1" role="dialog" aria-labelledby="change_biography_modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="change_biography_modalLabel">Изменение биографии</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                {% bootstrap_form biography_form %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <input type="submit" class="btn btn-primary" name="biography_submit" value="Изменить биографию">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </dl>
    </div>
</div>
