<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    {% if not reports %}
        <dir class="text-muted text-center h3 font-italic">
            У Вас ещё нет сообщений.<br>
        </dir>
    {% else %}
        {% for report in reports %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4>Жалоба №{{ report.id }}</h4>
                    </div>
                    <!--<div class="col-sm-auto">-->
                        <!--<strong>Автор: </strong> <br>-->
                        <!--<strong>Дата: </strong> -->
                    <!--</div>-->
                    <div class="col-sm-auto">
                        <strong>Статус: </strong><em>{{ report.get_status_display }}</em><br>
                        <strong>Дата: </strong>{{ report.date }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="h6 card-title">Жалоба на голосование «<a href="{% url 'voting.current' id=report.voting.id %}" class="text-info">{{ report.voting.title|truncatechars:25 }}</a>» автора <a class="text-info" href="{{ report.voting.author.get_url }}">{{ report.voting.author }}</a> от <a class="text-muted">{{ report.voting.date }}</a></div>
                <p>{{ report.text }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
