{% extends 'base/base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Сброс пароля</h1>
            <hr>
            <p>Введите email для восстановления. На него будет выслана инструкция по сбросу пароля</p>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.email.errors }}
                            <label for="id_email">Email для сброса:</label></td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-primary float-left" value="Отправить" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}