{% extends 'base/base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Сброс пароля</h1>
            <hr>
            <p>Мы отправили вам инструкции по установке пароля по электронной почте. Если они не пришли через несколько минут, проверьте папку со спамом.</p>
        </div>
    </div>
{% endblock %}