{% extends 'base/base.html' %}

{% load bootstrap4 %}

{% block content %}
    <h1>Изменение пароля</h1>
    <hr>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p><input type="submit" class="btn btn-primary float-right btn-block" value="Изменить"></p>
            </form>
        </div>
    </div>
{% endblock %}