{% extends 'base/base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h1>Сброс пароля — успешно!</h1>
            <hr>
            <p><a href="{% url 'index' %}">На главную</a> | <a href="{% url 'user.login' %}">Войти заново?</a></p>
        </div>
    </div>
{% endblock %}