{% extends 'base/base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Регистрация</h1>
            <hr>
            <form action="{% url 'user.registration' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                {% bootstrap_form user_form %}
                {% bootstrap_form password_form %}
                <hr>
                <h2>Дополнительно</h2>
                {% bootstrap_form profile_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary float-right btn-block">Зарегистрировать</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}